*{
  background-image: url("./assests/Colorful-Circle-Simple-Background-Image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


h1 ,h2 , h3{
  margin-left: 100px;
  margin-top: 20px;
}
button{
  margin-top: 20px;
  margin-left: 100px;
  height: 50px;
  width: 100px;
  border-radius: 20px;

}

